.tinputt {
    margin-left: 10px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.tinputc {
    display: flex;
    flex-flow: column;
}


.heading {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: xx-large;
    border-bottom: 1px solid black;
}
